@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Quicksand&family=Rubik&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}


/* Etiquetas */

html {
    scroll-behavior: smooth;
}

header {
    background-color: #4b9b51;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

h1 {
    padding: 10px;
    font-family: 'Rubik', sans-serif;
}

h2 {
    text-align: center;
    padding: 20px 10px;
}

body {
    background-color: #e3e3e3;
}

footer {
    background-color: #4b9b51;
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    padding: 10px;
    margin-top: 50px;
}

form {
    width: 50%;
    justify-content: center;
    margin: auto;
}

label {
    margin-top: 10px;
}


/* Clases */

.logo {
    width: 250px;
    height: auto;
}

.imgMosaico {
    width: 100%;
    height: 250px;
}

.tablaCursos {
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.btnVerdes {
    padding: 10px 20px;
    border: transparent;
    background-color: #4b9b51;
    color: white;
    border-radius: 20px;
}

.btnVerdes:hover {
    background-color: #125e19;
    transition: 0.5s;
}

.listasFooter ul {
    list-style: none;
}

.listasFooter p {
    color: white;
    padding: 0;
    text-align: center;
}

.box-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box-column {
    display: flex;
    flex-direction: column;
}

.boxes {
    width: 90%;
    margin: auto;
    background-color: whitesmoke;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
}

.align-center {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.aceptas {
    margin-right: 10px;
}

.border-invalid {
    border: 2px red solid;
}

.txtRojo {
    color: red;
    padding: 0;
    margin: 0;
}

.txtGreen {
    margin-top: 10px;
    color: green;
}

.check {
    width: 200px;
    height: auto;
    margin: auto;
}


/* Ids */

#barraNav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

#barraNav ul li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    margin-right: 10px;
}

#barraNav a:hover {
    background-color: white;
    color: #4b9b51;
    border-radius: 50px;
    transition: 0.5s;
}

#barraNav ul li i {
    padding: 8px;
}

#barraNav i {
    color: #4b9b51;
}

#mosaicoImag {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#multimedia p {
    padding: 10px;
    text-align: justify;
}

#botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#botones button {
    padding: 10px 10px;
    margin: 0px 20px;
    border: transparent;
    background-color: #4b9b51;
    color: white;
    border-radius: 20px;
}

#botones button:hover {
    background-color: #125e19;
    transition: 0.5s;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#redesSociales ul {
    display: flex;
    flex-direction: row;
}

#redesSociales li {
    padding: 5px 10px;
}

#redesSociales i {
    font-size: 2rem;
    color: white;
}

#redesSociales i:hover {
    color: black;
    transition: 0.5s;
}

#about ul {
    display: flex;
    flex-direction: column;
}

#about li,
i {
    padding: 5px 10px;
    color: white;
}

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formulario button {
    margin-top: 10px;
}


/* Ajustes de pantalla */

@media (max-width: 640px) {
    .logo {
        display: none;
    }
    #barraNav ul li i {
        display: none;
    }
}


/* Quitar flechas en el input number */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

nput[type=number] {
    -moz-appearance: textfield;
}